/* style.css */

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.header {
  background-color: #e1b4dc;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo img {
  max-width: 100px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 10px;
}

#start-btn,
#difficulty-select {
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #e6b6d3;
  color: #ffffff;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    10,
    1fr
  ); /* Modifying colums a seconda della difficoltà */
  gap: 5px;
  margin: 20px;
}

.cell {
  background-color: #eecceb; /*  celle */
  border: 1px solid #ccc;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}

.cell.flower {
  background-color: #87ceeb; /* Colore azzurro per le celle con il fiore */
  color: #fff;
}

.cell.mushroom::after {
  text-content: "🍄"; /* Aggiungi il contenuto del carattere */
  background-color: #f2a3a3;
  color: #00ff00; /* Conte */
}

.mushroom-image {
  width: 100%;
}
